  .social-links{
	  width: 200px;
	  padding: 10px;
	  color:white;
  }
  .app-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
  }
  
  .app-footer {
	position: absolute;
	bottom: 0;
	text-align: center;
  }
  
  .app-footer-menu {
	padding: 10px;
	background-color: #212529!important;
	width: 100vw;
  }

  main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-around;
  }

  .card-row{
	padding: 10px;
  }

  .form {
	margin: 20px;
  }
  
  .form input {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
  }